# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# Build output
dist/
build/
coverage/
*.tsbuildinfo

# Docker
*.local
docker-compose.override.yml
